/* footer */
.site-footer {
  background: #000;
  color: #fff;
  padding: 60px 6%;
  font-family: system-ui, -apple-system, sans-serif;
}

/* Top layout */
.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

/* Brand */
.footer-brand {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 22px;
  font-weight: 600;
  color: #ff2b85;
}

.footer-brand img {
  width: 180px;
  /* height: 36px; */
}

/* Columns */
.footer-columns {
  display: flex;
  gap: 120px;
  flex-wrap: wrap;
}

.footer-col h4 {
  font-size: 18px;
  margin-bottom: 18px;
}

.footer-col ul {
  list-style: none;
}

.footer-col li {
  margin-bottom: 10px;
}

.footer-col a {
  color: #fff;
  text-decoration: none;
  opacity: 0.85;
  font-size: 15px;
  transition: all 0.3s;
}

.footer-col a:hover {
  /* text-decoration: white solid underline; */
  color: #ff2b85;
}

/* Social */
.social-icons {
  display: flex;
  gap: 20px;
  font-size: 30px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}

/* Divider */
.site-footer hr {
  border: none;
  border-top: 1px solid #333;
  margin: 50px 0 30px;
}

/* Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  opacity: 0.8;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
}
