/* ================== navbar  ========================= */

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

nav > div {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.navlinks {
  display: flex;
  list-style-type: none;
  gap: 2vw;
  align-items: center;
}

.navlinks a {
  font-size: 17px;
  font-weight: 600;
  color: black;
  height: 100%;
  transition: all 0.3s;
}

.navlinks a:hover{
  color: #ff0077;
}

.navlinks li {
  height: 100%;
}

#pinkbtn {
  padding: 12px 20px;
  background-color: #ff2b8f;
  color: white;
  border-radius: 20px;
  margin: 0 8px;
  transition: all 0.3s;
  font-weight: 600;
}

#pinkbtn:hover {
  background-color: #ff0077;
}

.search-btn {
  background-color: transparent;
  font-size: 22px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.mobile-menu {
  color: #ff2b8f;
  background-color: transparent;
  border: none;
  font-size: 25px;
  font-weight: 900;
  cursor: pointer;
  display: none;
}

/* ================== hero section ===================== */
.hero-section {
  height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
  /* z-index: -1; */
}

.sheet {
  background-color: rgba(59, 58, 59, 0.332);
  height: 100%;
  /* display: ; */
}

.hero-section h1 {
  font-size: 70px;

  font-weight: 700;
  color: white;
  position: absolute;
  bottom: 10%;
  left: 10%;
  /* z-index: 1000; */
}