/* responsiveness */

@media (max-width: 1100px) {
  .mobile-menu {
    display: block;
  }

  nav > div {
    display: none;
  }
}

@media (max-width: 576px) {
  .mobile-menu {
    font-size: 22px;
  }

  nav img {
    width: 150px;
  }

  nav {
    padding: 20px 25px;
  }

  .hero-section h1 {
    font-size: 36px;
  }
}
