/* Hero section  */

.hero-section {
   background-image: url("https://www.foodpanda.com/wp-content/uploads/2024/06/Key-KV-1.png");
}

/* section 0 */

.section-zero{
  padding: 4rem;
}
.section-zero h2{
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
}

/* section 1 */
.secton1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 6rem 5%;
}

.sec1-img {
  width: 50%;
  /* border: 2px solid red; */
   /* margin: auto; */
}

.sec1-img img{
  width: 100%;
  margin: auto;
}

.sec1-text{
  width: 40%;
  /* border: 2px solid black ; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}

.sec1-text h2{
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
}
.sec1-text p{
 font-size: 17px;
 color: rgb(51, 51, 51);
 font-weight: 500;
}
/* section 2 */
.section2{
  flex-direction: row-reverse;
}

/*  secton 4 */


/* Reset */

.press-section {
  padding: 80px 5%;
  background: #e5e7eb;
  font-family: system-ui, -apple-system, sans-serif;
}

.press-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px;
}

.press-header h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}

.press-header p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

/* Carousel */
.press-carousel {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-snap-type:proximity;
  padding-bottom: 10px;
}

.press-carousel::-webkit-scrollbar {
  display: none;
}

/* Card */
.press-card {
  width: 320px;
  height: 420px;
  border-radius: 18px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  scroll-snap-align: start;
  overflow: hidden;
}

/* Dark overlay */
.press-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.2)
  );
  z-index: 0;
}

/* Content */
.press-card > * {
  position: relative;
  z-index: 1;
}

.press-card .tag {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.9;
  margin-bottom: 10px;
}

.press-card h3 {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 12px;
}

.press-card time {
  font-size: 14px;
  opacity: 0.8;
}





/* Responsive */
@media (max-width: 768px) {
  .footer-columns {
    gap: 50px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}


/* Responsive */
@media (min-width: 768px) {
  .press-card {
    min-width: 300px;
  }
}

@media (min-width: 1024px) {
  .press-card {
    min-width: 320px;
  }
}


